/**
 * Create By Carlos E. Rivera Centeno
 * Project started 2020/06/10 - 2020/06/28
 * V1.0.0
 **/

:root {
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #555;
}

section {
    padding: 80px 0;
}

/* Navigation */
nav {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    transition: .3s;
}

nav.black {
    background: linear-gradient(90deg, rgba(230,229,229,1) 30%, rgba(251,79,19,1) 30%);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    height: 100px;
    padding: 10px 100px;
    z-index: 9999;
}

nav .logo {
    padding: 0px 20px;
    float: left;
    transition: .3s;
}

nav .logo img {
    height: 80px;
    width: 150px;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 80px;
    color: #ffffff;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav li a:focus {
    outline: none;
}

nav li a.active {
    background: #FB4F13;
    color: #ffffff;
    border-radius: 6px;
}

.menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    padding: 15px 24px;
    cursor: pointer;
    color: #ffffff;
    display: none;
}

.hidden {
    display: none;
}

/* ============================================================= */
/* HEADER*/
/* ============================================================= */


header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),url(/img/macbook1.jpg) center no-repeat;
    background-size: cover;
    height: 82vh;
    color: var(--white);
}


.main-title {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 4rem;
}

.subTitle {
    text-align: center;
}

.authorDetails {
    padding: 4rem;
    font-size: 16px;
    letter-spacing: 1.5px;

    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 5px;
    color: #555;
}

.authorDetails .date{
    display: inline-block;
    padding-top: .6rem;
}
.authorDetails i {
    padding-right: .6rem;
}

/* ============================================================= */
/* SECTION CONTENT*/
/* ============================================================= */

.p-container {
    margin-top: 10%;
    
}

.p-content {
    width: 70%;
    margin: auto;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    padding-bottom: 2rem;
}

.content-img {
    display: block;
    width: 65%;
    /* height: 450px; */
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

/* ========================================================== */
/* Footer */
/* ========================================================== */

footer {
	padding: 50px 0;
	background-color: #555;
	color: #fff;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.fs-l {
	border-top: 1.5px solid #777;
	width: 455px;
	margin-top: 18px;
}

.fs-p {
    text-align: left;
    line-height: 28px;
    word-spacing: 2px;
    letter-spacing: 1px;
	font-size: 13px;
	padding-top: 20px;
}

.ft-p {
	font-size: 17px;
	font-family: cursive;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

footer .fas,
footer .fab {
	font-size: 30px;
	padding-bottom: 27px;
	padding-top: 0;
	color: #fff;
}

 a .fa-facebook-square:hover,
 a .fa-facebook-square:active {
	color: #3b5998;	
}

a .fa-github-square:hover,
a .fa-github-square:active {
	color:  #ffffff;	
}

a .fa-linkedin:hover,
a .ffa-linkedin:active {
	color: #0e76a8;	
}

a .fa-twitter-square:hover,
a .fa-twitter-square:active {
	color: #00acee;	
}

.ft-end {
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	font-size: 17px;
}

/* ============================================================= */
/* MEDIA QUERIES */
/* ============================================================= */
@media screen and (max-width: 864px) {


    nav .logo {
        padding: 7px 20px;
    }
    nav .logo img {
        height: 70px;
        width: 100px;
    }

    nav {
        padding: 0;
    }

    /* make the nav inline with a white background */
    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #ffffff;
        opacity: 0;
        transition: all 0.2s ease;
        display: none;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: block;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    /* Setting the Animation Transition for the menu */
    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }
    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.4s;
    }
    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.6s;
    }
    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.7s;
    }

    nav.black .nav-wrapper ul li a {
        color: #151511;
    }
    
    nav.black .nav-wrapper ul li a.active {
        color: #ffffff;
    }
    
    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #151511;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.2px;
        transform: all 0.2s ease;
    }
    
    /* Setting the hamburger Icon */
    
    .nav-btn {
        position: fixed;
        right: 10px;
        top: 15px;
        display: block;
        width: 55px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    
    nav.black .nav-btn i {
        background: #ffffff;
    }
    
    nav.black {
        padding: 0;
    }
    
    /* Creating the Hamburger Bars */
    
    .nav-btn i {
        display: block;
        width: 27px;
        height: 3px;
        background: #ffffff;
        border-radius: 2px;
        margin-left: 14px;
    }
    
    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-btn i:nth-child(2) {
        margin-top: 6px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3) {
        margin-top: 6px;
    }
    
    /* creating the X when menu is checked */
    
    #nav:checked + .nav-btn i {
        background: #151515;
        transition: transform 0.2s ease;
    }
    
    #nav:checked + .nav-btn i:nth-child(1) {
        transform: translateY(10px) rotate(130deg);
    }
    #nav:checked + .nav-btn i:nth-child(2) {
        opacity: 0;
    }
    #nav:checked + .nav-btn i:nth-child(3) {
        transform: translateY(-8px) rotate(47deg);
    }
    
    /* Display the Menu on Mobile */
    
    #nav:checked ~ .nav-wrapper {
        z-index: 9990;
        opacity: 1;
        display: block;
    }

    #nav:checked .main-img {
        position: fixed;
    }
    
    #nav:checked ~ .nav-wrapper ul {
        display: block;
    }
    
    #nav:checked ~ .nav-wrapper ul li a {
        opacity: 1;
        transform: translateX(0);
    }

    .main-title {
        width: auto;
    }

    .subTitle {
        font-size: .8rem;
    }

    .main-title h1 {
        font-size: 1.8rem;
        letter-spacing: 0;
        
    }

    /* ====================================================== */
    /* FOOTER */
    /* ====================================================== */

    .fs-l {
		width: 305px;
		/* margin-left: ; */
    }

    .ft-p {
        text-align: justify;
        line-height: 2;
        word-spacing: 1px;
        letter-spacing: 1px;
        font-size: 11px;
        padding-top: 20px;
    }

	.ft-p,
	.ft-end {
		font-size: 14px;
    }
}

/* Big Screen phone */
@media only screen and (max-width: 420px) {
    body {
        font-size: 14px;
    }
    header {
        height: 82vh;
    }

    .main-title h1 {
        font-size: 1.5rem;
    }
    
    .subTitle {
        font-size: .5rem;
    }
    
    
    
    /* ============================================================= */
    /* SECTION CONTENT*/
    /* ============================================================= */

    .p-container {
        margin-top: 15.5%;
        
    }

    .p-content {
        width: 85%;
        word-spacing: 1px;
    }

    .content-img {
        display: block;
        width: 85%;
        height: 400px;
        
    }


    /* ====================================================== */
    /* FOOTER */
    /* ====================================================== */
	.footer-container {
		flex-direction: column-reverse;
	}

	.fs-l {
		margin-top: 35px;
	}

	.fs-p {
		text-align: justify;
        padding: 15px 5px 15px 5px;
        font-size: 13px;
	}

}

/* Really Small Phone like the iPhone 5SE */
@media only screen and (max-width: 320px) {

    body {
        font-size: 12px;
    }

    .authorDetails {
        padding: none;
        font-size: 12.5px;
        letter-spacing: 1.5px;
    
        position: absolute;
        bottom: -6%;
        left: 0;
        padding-top: 5px;
        color: #555;
    }

    .p-container {
        margin-top: 10%;
        
    }

    .ft-p {
        font-size: 12.5px;
        font-family: cursive;
    }


    .fs-l {
		width: 315px;
	}
}